
<h1>Stupid Coaching</h1>
<form action="/answer" data-turbo="false">
  <div class="mb-3">
    <label  class="form-label" for="question">Ask your coaching anything:</label>
    <input type="text"  class="form-control" name="question" id="question">
  </div>
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
